@import '../../scss/helpers/variables.scss';

.link {
  display: flex;
  color: $light-grey;
  text-decoration: none;
}

/* Btns */
.btn {
    background: none;
    border: none;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 16px;
    outline: none;
    padding: 0;
}

.btn___main {
  background: none;
  border: none;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 16px;
  outline: none;
  padding: 0 10px;
  text-align: center;
}

.btn___success {
  color: $light-grey;
  background-color: $main-green;
}
/* Btns end*/
  

/* Actions Menu */
.actions_menu {
    position: relative;
    width: 16px;
  }

  .actions_menu___right {
    margin-left: auto;
  }
  
  .actions_menu__togle_btn {
    cursor: pointer;
  }
  
  .actions_menu__icon {
    color: $light-grey;
    pointer-events: none;
  }
  
  .actions_menu__icon * {
    pointer-events: none;
  }
  
  .actions_menu__container {
    position: absolute;
    top: -999999px;
    right: 0;
    width: 160px;
    padding: 5px 0;
    background-color: $more-lighter-black;
    border-radius: 5px;
    z-index: 999;
  }
  
  :global(.actions_menu.active) .actions_menu__container {
    top: 20px;
  }
  
  .actions_menu__item {
    color: $light-grey;
    cursor: pointer;
    padding: 8px;
  }
  
  .actions_menu__item:hover {
    background-color: $lightest-black;
  }

  .actions_menu_change_notebook_btn {
    display: none;
  }

  :global(.change-notebook-active) .actions_menu_change_notebook_btn {
    display: block;
  }
  /* Actions Menu end*/


/* Popup */
.main_popup {
  display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    z-index: 999;
}

.active .main_popup {
  display: flex !important;
} 
/* Popup */